
  <div class="container" style="background-color: #00446b; border-radius: 32px 32px 0px 0px;">
    <div
      class="row"
      style="
        border-radius: 32px 32px 0 0;
        background-color: #00446b;
        
      "
    >
   

      <div fxLayoutAlign="center"><button [disabled]="!isLogged" mat-mini-fab color="" (click)="openDialog(education)"> + </button></div> 

    </div>
    <div *ngFor="let education of educations; let i = index" class="row clase" style="background-color: #00446b;">
      <div class="col-4 perfil" style="display: flex; justify-content:center; align-items:center; background-color: white; border-radius: 32px 32px 32px 32px;">
        <div>
        
          <img style="max-height: 100px; max-width: 80%;" src="{{education.urlImagen}}">
        </div>
      </div>
      <div class="col perfil" style="background-color: white; text-align: center; border-radius: 32px 32px 32px 32px;">
        <h2>{{education.titulo}}</h2> 
        <h3>Institution: </h3><a href="{{education.url_web_institucion}}">{{education.institucion}}</a>
        <h3>Duration: </h3><h3>{{education.duracion}}</h3>
        <div *ngIf="isLogged" fxLayoutAlign="center" style="display: flex; flex-direction: row;">
          <button class="edit-buttons" (click)="openEditDialog(education)"><mat-icon>edit</mat-icon></button>
          <button class="edit-buttons" (click)="deleteEducation(education.id)"><mat-icon>delete</mat-icon></button>
          </div>
      </div>
    </div>
  </div>

