<div style="display: flex;flex-direction: column ;justify-content: center; align-items: center; text-align: center; border: 1px solid currentColor; border-radius: 5px; padding: 15px 70px 15px;">

<form style="text-align:center" [formGroup]="projectForm">
    <div class="form-group">
    <b><label>Name:</label></b>
      <input type="email" class="form-control" formControlName="nombre"  value="">
    </div>
      <div class="form-group">
        <b><label>Description:</label></b>
        <input type="email"  class="form-control" formControlName="descripcion" value="">
      </div>
      <div class="form-group">
        <b><label>URL imagen:</label></b>
        <input type="email" class="form-control" formControlName="urlImagen" value="" >
      </div>
      <div class="form-group">
        <b><label>URL Repositorio:</label></b>
        <input type="email" class="form-control" formControlName="urlProyecto" value="" >
      </div>
    </form>

<div style="display: flex; flex-direction: column; align-items: center;">
  <div style="margin-top: 3%;">
    <button type="submit" class="btn btn-primary" (click)="saveProject()" [mat-dialog-close]="true">Submit</button>
  </div>
  <div style="margin-top: 3%;">
    <button type="submit" class="btn btn-primary" [mat-dialog-close]="true">Cancel</button>
  </div>
</div>

</div>