
    
<div class="container">

    <div class="row" style="background-color: #00446b; border-radius: 32px 32px 32px 32px;">

        <div class="col">
            
            <div fxLayoutAlign="center"><button (click)="openDialog()" [disabled]="!isLogged" mat-mini-fab color=""> <img src="/assets/img/editar.png" style="width: 20px;"/> </button></div> 

            <div class="perfil clase" style="text-align: center" fxLayoutAlign="center">
                <h1 style="font-size: 16px; width: 380px;">{{this.aboutme}}</h1>
            </div>

        </div>
    </div>
</div>
