<div class="container">
    
<div class="container">

    <div class="row" style="background-color: #00446b; border-radius: 32px 32px 32px 32px;">

        <div class="col">
            
            <div fxLayoutAlign="center"><button mat-mini-fab color=""> <img src="/assets/img/editar.png" style="width: 20px;"/> </button></div> 

            <div class="perfil clase" style="text-align: center">
                <h1 style="font-size: 16px">{{this.aboutme}}</h1>
            </div>

            <div class="perfil clase" style="text-align: center">
                <h1 style="font-size: 16px">{{this.aboutme}}</h1>
            </div>

        </div>
    </div>
</div>

</div>