<div class="container">
<div class="container">

    <div class="row" style="background-color: #00446b; border-radius: 32px 32px 32px 32px;">

        <div class="col">
            <div fxLayoutAlign="center"><button mat-mini-fab color=""> <img src="/assets/img/editar.png" style="width: 20px;"/> </button></div> 

            <div>
                dalkdlakdlsadakdsa das dksakda sdalsd as dlas da skd sl kdas dlsa dlksadkaslka lda 
                das dlaslda sldas ldas dlas dlsa dlsa dalkdlakdlsadakdsadasd lask 
            </div>
        </div>
    </div>
</div>

</div>