

<mat-toolbar fxLayout="row" class="bar">
 
  <div fxShow.lg="true">
    <button mat-button (click)="inputSideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxShow.xs="false" fxShow.md="false" fxShow.sm="false">
    <a routerLink=""><button mat-button class="button-toolbar">
        <mat-icon>home</mat-icon>
        Home
      </button></a>
  </div>

  <div fxShow.xs="false" fxShow.md="false" fxShow.sm="false">
    <a routerLink="/skills"><button mat-button class="button-toolbar">
        <mat-icon>build</mat-icon>
        Skills
      </button></a>
  </div>
  <a routerLink="/education">
    <div fxShow.xs="false" fxShow.md="false" fxShow.sm="false">
      <button mat-button class="button-toolbar">
        <mat-icon>school</mat-icon>
        Education
      </button>
    </div>
  </a>
  <div fxShow.xs="false" fxShow.md="false" fxShow.sm="false">
    <button mat-button class="button-toolbar" routerLink="project">
      <mat-icon>work</mat-icon>
      Projects
    </button>
  </div>
  <div fxShow.xs="false" fxShow.md="false" fxShow.sm="false">
    <button mat-button class="button-toolbar" routerLink="aboutme">
      <mat-icon>face</mat-icon>
      About Me
    </button>
  </div>
  <div fxShow.xs="false" fxShow.md="false" fxShow.sm="false">
    <button mat-button class="button-toolbar" routerLink="contact">
      <mat-icon>contact_mail</mat-icon>
      Contact
    </button>
  </div>
  <div style="display: flex; align-items:center">
    <button *ngIf="!isLogged" type="button" (click)="login()" class="btn btn-dark" style="z-index: 3; display: flex; align-items: flex-end">
      <img src="/assets/img/login.png" style="width: 25px; color: aliceblue;" />
      <div style="color: black;">Login</div>
    </button>
    <button *ngIf="isLogged" type="button" (click)="onLogout()" class="btn btn-dark" style="z-index: 3; display: flex; align-items: flex-end">
      <img src="/assets/img/logout.png" style="width: 25px; color: aliceblue;" />
      <div style="color: black;">Logout</div>
    </button>
  </div>
</mat-toolbar>
