<div class="container">
    <div class="container">
      <div
        class="row"
        style="
          border-radius: 32px 32px 0 0;
          background-color: #00446b;
          ;
        "
      >
     
  
        <div fxLayoutAlign="center"><button mat-mini-fab color="" (click)="openDialog(this.project)"> + </button></div> 

      
      <div style="background-color: #00446b; ">
      <div class="perfil clase" style="text-align: center;">

        <h1 *ngIf="valorArray==0" style="color: black;"> NO RECORDS IN DATABASE :(</h1>

    </div>
</div>
    </div>
  </div>
</div>