
  <div class="container">
    <div class="container">
      <div class="row" style="border-radius: 32px 32px 0 0; background-color: #00446b; text-align: center;">


        <div class="col">
          <div fxLayoutAlign="center">
            <button [disabled]="!isLogged" mat-mini-fab color="" (click)="openEdittDialog(skill)"> + </button>
          </div>
        </div>


      </div>
    </div>
    <div class="container" style="background-color: #00446b; border-radius: 0 0 32px 32px">

      <div class="row" style="display: flex; justify-content: center;">
        <div fxLayoutAlign="center" *ngFor="let skill of skills; let i = index" class="col-3 perfil clase
" style="min-width: 100px; display: flex; justify-content: center;">
          <div>
            <div *ngIf="isLogged" fxLayoutAlign="center" style="display: flex; flex-direction: row;">
              <button class="edit-buttons" (click)="openEditDialog(skill)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="edit-buttons" (click)="deleteSkill(skill.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <circle-progress [radius]="45" [showTitle]="false" [showUnits]="false" [percent]=100
              [animationDuration]="1000" [backgroundColor]=skill.color subtitleFontSize="15" [subtitle]=skill.nombre>
            </circle-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
