
{{message}}
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" value="{{emailAdmin}}">
  </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" value="{{nombreAdmin}}">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Segundo nombre</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" value=" {{segundonombreAdmin}}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Apellido/s</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"  value="{{apellidoAdmin}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"  value="{{tituloAdmin}}">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Ciudad</label>
      <input  class="form-control" placeholder="Password" value="{{ciudadAdmin}}"> 
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Provincia</label>
        <input class="form-control" placeholder="Password" value="{{provinciaAdmin}}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Pais</label>
        <input class="form-control" placeholder="Password" value="{{paisAdmin}}">
      </div>
  </form>

<div style="display: flex; flex-direction: column; align-items: center;">
  <div style="margin-top: 3%;">
    <button type="submit" class="btn btn-primary" [mat-dialog-close]="true">Submit</button>
  </div>
</div>
