


  <app-toolbar [inputSideNav]="sideNav">

  </app-toolbar>

  
<mat-sidenav-container style="background-color: black;">

<mat-sidenav  #sideNav
              mode="over"
              class="bar"
              style="border-radius: 32px 32px 32px 32px; 
                      background-color: grey;">

<app-sidebar [inputSideNav]="sideNav"></app-sidebar> 

</mat-sidenav>

<mat-sidenav-content>

<app-perfil *ngIf="!router.url.includes('login')" ></app-perfil>

<main style="background-color: black; border-radius: 20px 20px 0px 0px;">

    <div style="margin-top: 0.3%;" >
        <router-outlet> </router-outlet>
      </div>
</main>

</mat-sidenav-content>


</mat-sidenav-container>

