<div class="sidebar">
<div class="menu">
    <ul style="display:flex; flex-direction:column; text-align: center;">
      
        <a>Dashboard</a>
     
      
        <i class="fas fa-link"></i>
        <a href="#">Shortcuts</a>
      
      
        <i class="fas fa-stream"></i>
        <a href="#">Overview</a>
      
      
        <i class="fas fa-calendar-week"></i>
        <a href="#">Events</a>
      
      
        <i class="fas fa-question-circle"></i>
        <a href="#">About</a>
     
      
        <i class="fas fa-sliders-h"></i>
        <a href="#">Services</a>
     
      
        <i class="fas fa-phone-volume"></i>
        <a href="#">Contact</a>
      
     
      <i class="far fa-comments"></i>
        <a href="#">Feedback</a>
      
    </ul>
  </div>
</div>
