<div class="sidebar" fxLayoutAlign="center" style="">
  <mat-nav-list>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/"><mat-icon>home</mat-icon>Home</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/skills"><mat-icon>build</mat-icon>Skills</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/education"><mat-icon>school</mat-icon>Education</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/project"><mat-icon>work</mat-icon>Projects</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/aboutme"><mat-icon>face</mat-icon>About Me</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/contact"><mat-icon>contact_mail</mat-icon>Contact</a>
  </mat-nav-list>

</div>
