<div class="sidebar" fxLayoutAlign="center">
  <mat-nav-list>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/">Home</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/skills">Skills</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/education">Education</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/project">Projects</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/aboutme">About Me</a>
   <a mat-list-item (click)="inputSideNav.toggle()" routerLink="/contact">Contact</a>
  </mat-nav-list>

</div>
